@import './../../variables';

.editProfile {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: white;
  padding: 2rem 3rem;
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-cancel {
      background-color: #d12942;
      width: 8rem;
      height: 2.5rem;
      &:hover {
        background-color: #7d1928;
      }
    }
    &-save {
      background-color: #46d243;
      width: 8rem;
      height: 2.5rem;
      &:hover {
        background-color: #278126;
      }
    }
  }
  &__main {
    margin: 2.5rem 0;
    &-userImage {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-image {
        width: 10%;
        height: auto;
        border: 1px solid black;
        margin: 1.5rem;
      }
      &-editImageBtn {
        color: black;
        border: 1px solid black;
        &:hover {
          background-color: #fff;
          color: #281b23;
        }
      }
    }
    &-divider {
      border-color: black;
      margin: 2rem 0;
    }
    &-editForm {
      color: black;
      font-size: 1.2rem;
      &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-left {
          margin: 0 1rem;
          &-field {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            &-label {
              margin: 0;
              width: 20%;
            }
            &-input {
              width: 80%;
              &-disabled {
                width: 80%;

                & .MuiInputBase-input.Mui-disabled {
                  -webkit-text-fill-color: black;
                }
              }
            }
            &-inputContainer {
              width: 80%;
              border: 1px solid black;
              border-radius: 1rem;
              &-input {
                width: 90%;
                height: 2rem;
                border: none;
                background: none;
                outline: none;
                padding: 0 1rem;
                font-size: 1.2rem;
                color: black;
              }
            }
          }
        }
        &-right {
          margin: 0 1rem;
          &-passwordErr {
            margin: 0 auto;
            display: inline-block;
            border-radius: 0.3rem;
            padding: 0.4rem 0.8rem;
            background-color: #d12942;
            color: black;
          }
          &-label {
            margin: 0;
          }
          &-field {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            justify-content: space-between;
            &-input {
              width: 80%;
            }
            &-inputContainer {
              width: 80%;
              border: 1px solid black;
              border-radius: 1rem;
              &-input {
                width: 90%;
                height: 2rem;
                border: none;
                background: none;
                outline: none;
                padding: 0 1rem;
                font-size: 1.2rem;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
