.homePage {
  display: flex;
  justify-content: center;

  &__cards {
    margin-top: 5rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr)); // Por defecto, 3 columnas
    width: 70%;
    align-content: center;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, minmax(0, 1fr)); // Cuando el tamaño de pantalla es menor o igual a 1200px, 2 columnas
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(0, 1fr)); // Cuando el tamaño de pantalla es menor o igual a 768px, 1 columna
      margin-inline: 2rem; // Ajusta el margen izquierdo y derecho para que los elementos no estén tan separados
    }
  } 
}